
/*
 *  
 */

body{
    margin: 0px;
    background-color: #f4f4f4;
    
    overflow-x: hidden;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display:none;
}

a{
    text-decoration: none;
}

a:link, a:visited, a:hover, a:active {
    color: #fafafa;
}

header{
    width: 100%;
    position: fixed;
    z-index: 9999;
}

h1{
    margin: 0px;
    font-size: 1.2rem;
}

#no-support{
    text-align: center;
    color:red;
    font-weight: bold;
}


/*
 * ヘッダーメインコンテンツ
*/

#header-wave{
    position: absolute;
    pointer-events: none;
}

.header-top{
    font-family: "M PLUS 1p";
    -moz-osx-font-smoothing: unset;

    background: linear-gradient( 90deg, rgba(193,193,193,0) 0%, rgba(33,33,33,1) calc(1vw - -210px)), url(../img/header-top.jpg);
    background-repeat: no-repeat;
    
}

.header-top .header-infomation{
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.header-top-left{
    display: flex;
    flex-direction: row;
    order: 1;
    flex-grow: 0;
}

.header-top-center{
    display: flex;
    flex-direction: row;
    order: 2;
    flex-grow: 1;
}

.header-top-right{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    order: 3;
    flex-grow: 0;
}

.header-top .header-infomation nav ul a{
    display: block;
    line-height: 80px;
    padding: 0px 20px;
}

.header-top .header-infomation nav ul a i{
    margin-right: 10px;
}

.header-top .header-infomation nav ul{
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
}

.header-top .header-infomation nav ul a{
    display: block;
    line-height: 80px;
    padding: 0px 20px;
}

.header-top-right a{
    transition: all 300ms 0s ease;
}

.header-top-right a:hover{
    background-color: #f4f4f44d;
}

/*
 *
 */

.header-subpage-infomation{
    font-family: "Sawarabi Gothic";
    height: 120px;

    padding: 0px 20px;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-subpage-infomation h2{
    font-size: 2.0em;
    color: #fafafa;
}

.header-subpage-infomation p{
    -webkit-font-smoothing: antialiased;
    font-size: 1.2em;
    color: #fafafa;
}


/*
 * ヘッダーナビバー
*/
.header-navbar{
    font-family: "Sawarabi Gothic";

    height: 40px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;

    background-color: #424242;
    box-shadow: 0px 1px 3px #000000ad;
}

.header-navbar-menu{
    display: flex;
    flex-direction: row;
}

.header-navbar nav ul{
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-size: 1.2rem;
    font-weight: solid;
    text-align: center;
}

.header-navbar nav ul a{
    display: block;
    line-height: 40px;
    padding: 0px 20px;

    font-size: 0.9rem;

    transition: all 300ms 0s ease;
}
.header-navbar nav ul a:hover{
    background-color: #2a919e;
}

.header-navbar nav ul a i{
    margin-right: 10px;
}

/*
 *
 */

.contant{
    font-family: "Sawarabi Gothic";

    margin-top: 240px;
    position: relative;
    
    display: flex;
    flex-direction: row;
    align-content: space-between;
    flex-wrap: wrap;
    justify-content: center;
    
    z-index: 5000;
}

.contant-question{
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
    color: #616161;
}

.card-contant{
    display: flex;
    height: 195px;
    width: 900px;

    margin: 10px 10px;

    border: 1.5px solid #ffffff;
    background-color: #fff;
    box-shadow: 0px 0px 2px #00000073;
}

.card-preview{
    height: 150px;
    width: 225px;
    margin: 20px;
}
.card-contant a{
    position: absolute;
    height: 195px;
    width: 900px;
}

.card-contant-child{
    width: 100%;
}

.card-contant-child p{
    margin-right: 20px;
}

/*
 *
 */

.card-contant-text{
    display: flex;
    height: auto;
    max-width: 1000px;
    min-width: 900px;

    margin: 10px 10px;

    flex-direction: column;

    border: 1.5px solid #ffffff;
    background-color: #fff;
    box-shadow: 0px 0px 2px #00000073;
}

.card-contant-text-header{
    margin: 0px 20px;
    display: flex;
    height: 65px;
    flex-direction: row;
    justify-content: space-between;
}

.card-contant-text-header h3{
    font-size: 1.5rem;
    color: #424242;
}
.card-contant-text-header p{
    line-height: 2.5rem;
}

.card-contant-text-body{
    margin: 10px 20px;
    margin-bottom: 20px;
}

.card-contant-text-body a{
    color: #2a919e;
}

.card-contant-text-body p{
    color: #212121;
}

.card-contant-text-body h4{
    margin: 0px;

    font-size: 1.2rem;
    color: #757575;
}

.card-contant-text-body li{
    margin: 17px 0px;
    list-style: none;
}

.card-contant-text-body ul{
    margin: 0px;
    padding: 0px;
}
